<% provide(:title, "Log in") %>
<h1>Log in</h1>

<%= render "layouts/header.html.erb" %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :matricula %>
        <%= f.text_field :matricula, class: 'form-control' %>

        <%= f.label :senha %>
        <%= f.password_field :senha, class: 'form-control' %>


        <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>