
<%= render "layouts/header.html" %>

<div class="tabelacriarpedidos">
  <fieldset class="id_fieldset ajustar"  >
    <legend ><h2> Criação de Pedidos </h2></legend>

<table id="example"  align="center" class="display" cellspacing="3" width="auto">
  <thead>
  <tr>
    <th class="thnome">Name</th>
    <th> Cpf </th>
    <th> Usuário </th>
    <th> Secretaria </th>
    <th> Gerente </th>
    <th></th>
    <th></th>

  </tr>
  </thead>
  <tfoot>
  <tr>
    <th class="thnome">Name</th>
    <th> Cpf </th>
    <th> Usuário </th>
    <th> Secretaria </th>
    <th> Gerente </th>
    <th></th>
    <th></th>
  </tr>
  </tfoot>
  <tbody>
  <% User.all.each do |a| %>
  <tr>
    <% if a.inativo == false && a.pendente == true %>
    <td class="thnome" ><%=  a.nome  %></td>
    <td><%=  a.cpf  %></td>

       <td><%= radio_button_tag(:conta, 1) %></td>
        <td><%= label_tag(:conta_usuario, "Usuário") %></td>
        <td><%= radio_button_tag(:conta, 2) %></td>
        <td><%= label_tag(:conta_usuario, "Secretaria") %></td>
        <td><%= radio_button_tag(:conta, 3) %></td>
        <td><%= label_tag(:conta_usuario, "Gerência") %></td>
        <td><td><%= link_to("Aceitar", user_path(a, "user[nivel_conta]" => params[:conta]), :method => :put) %></td>
    <td> <input type="button" name="<%=a.id%>" value="rejeitar"></td>
    <%end%>
    <%end%>
  </tr>
  </tbody>
</table>
</fieldset>
  </div>