<% provide(:title, "Pedido de Material") %>

<%= render "layouts/header.html.erb" %>
<%= stylesheet_link_tag 'estilo', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'pedidodemateriais', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery-2.2.3', 'data-turbolinks-track' => true %>
<% if logged_in? %>
<div class="tabelacriarpedidos">
  <fieldset class="id_fieldset ajustar"  >
    <legend ><h2> Criação de Pedidos </h2></legend>
    <%= form_for(@pedido) do |f| %>
    <%= f.date_select :data1, selected: Date.today %><br>
    <%= f.time_select :data2, selected: Time.now %><br>
    <%= f.time_select :entrega, selected: Time.now %>
    <table id="example"  align="center" class="display" cellspacing="3" width="auto">
      <thead>
      <tr>
        <th class="thnome">Materiais Disponíveis</th>
        <th>        </th>

      </tr>
      </thead>
      <tfoot>
      <tr>
        <th class="thnome">Materiais Disponíveis</th>
        <th>        </th>

      </tr>
      </tfoot>
      <tbody>
      <% TipoMaterial.all.each do |a| %>
          <tr>
            <% f.hidden_field :id_material, a.id %>
          <td class="thnome"><%= a.nome %></td>
          <td><%= f.submit "Pedir", class: "btn btn-primary botEnviar" %></td>
      <%end%>
      <%end%>
      </tr>
      </tbody>
    </table>
  </fieldset>
</div>
<%end%>