<% provide(:title, 'Novo Material') %>

<%= render "layouts/header.html.erb" %>
<%= stylesheet_link_tag 'estilo', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'estiloLogin', media: 'all', 'data-turbolinks-track' => true %>

<div class="row" id="log">
  <div class="col-md-6 col-md-offset-3">
    <fieldset class="id_fieldset">
      <legend><h2> Novo Material </h2></legend>

          <%= render 'shared/error_messages_mat' %>
          <div class="tipos_de_materiais">
                  <input type="radio" name="gender" checked value="male"> Existente:
                  <%= select_tag("material[tipo]", options_from_collection_for_select(TipoMaterial.all, :id, :nome),{include_blank: 'Criar Novo'}) %>
                  <br><input type="radio" name="gender" value="other"> Novo:

            <%= form_for(@material) do |f| %>
                    <%= f.text_field :descricao, class: 'form-control id_login', placeholder: 'Descrição' %><br>
                    <%= f.text_field :patrimonio, class: 'form-control id_login', placeholder: 'Patrimônio' %><br>
                    <%= f.submit "Criar Material", class: "btn btn-primary botEnviar" %>
                <% end %>
          </div>

    </fieldset>
  </div>
</div>

